<form class="search-form-wrapper w-clearfix" data-name="Search Form" id="email-form" name="email-form" data-target-type="contact_form" data-form="search_form">
        {{ content.search_form_input }}<input class="search-btn-global w-button" data-wait="Please wait..." type="submit" value="Search" wait="Please wait..."><a class="cancel search-btn-global w-button w-hidden-main w-hidden-medium" data-ix="search-bar-hide" href="#">Cancel</a>
      </form>