<div class="list rcp-wrapper" data-view="rc_trend" data-filter-type="node" data-filter-bundle="rc_overview" data-node-field="trend" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="rc_trend">
            <div class="rcp-info-wrapper rcp-list" data-node="rc_overview" data-view-mode="rc_list">
              <div class="activity list w-clearfix">
                <div class="list saves w-clearfix">
                  <div class="faved list save-icon"></div>
                  <div class="list save-icon" data-ix="modal-login-show"></div>
                  <div class="rcp-list saved-tally">31</div>
                </div>
                <div class="stars"></div>
              </div>
              <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
                <h4>Delicious Praline Cinnamon Monkey Bread</h4>
              </a>
              <div class="rcp-list summary">
                <div class="dynamic-data rcp-summary-data">
                  By:
                  <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                </div>
              </div>
            </div>
            <div class="object-fit rcp-img-list">
              <img height="99" src="/{{ directory }}/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
          </div>