<div class="base-slider hero w-slider" data-animation="slide" data-autoplay="1" data-block-field="hero_slider" data-delay="6000" data-duration="300" data-filter-bundle="recipe" data-filter-type="node" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-infinite="1" data-target-bundle="hero_slider" data-target-type="view" data-type="entity_reference" data-view="hero_slider">
          <div class="w-slider-mask">
          {{rows}}
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav w-slider-nav-invert"></div>
        </div>