<div class="_33-pc rcp-cllctn-card" data-view="collection_kids" data-filter-type="node" data-filter-bundle="kids_kitchen" data-node-field="collection_kids" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="collection_kids">
          <div class="rcp-cllctn-wrapper" data-mh="card">
            <div class="object-fit">
              <img height="330" src="/themes/imperial/images/Kids%20Kitchen%20Collection%20Hero.png"></div>
            <div class="img-overlay-35"></div>
            <a class="title-absolute-center w-inline-block" href="kids-in-the-kitchen/recipe-collection.html">
              <h2 class="tertiary">Kids Kitchen Recipe Collection</h2>
            </a>
          </div>
        </div>