<div class="base-slider card w-slider" data-animation="slide" data-duration="200" data-infinite="1" data-view="under_30_view" data-filter-type="node" data-filter-bundle="recipe" data-block-field="under_30_view" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="under_30_view">
        <div class="w-clearfix w-slider-mask">
          {{rows}}
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav"></div>
      </div>