<div class="w-clearfix" data-view="coupons" data-filter-type="node" data-filter-bundle="coupons" data-block-field="coupons" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="coupons">
        <div class="_33-50-50-100-width _33-pc w-clearfix" data-node="coupons" data-view-mode="card">
          <div class="cpn-wrapper" data-mh="card">
            <div class="cpn-top w-clearfix">
              <div class="_50-pc cpn-top-left">
                <div class="txt-centered">
                  <img class="cpn-img-wrapper" src="/{{ directory }}/images/imp-10efgbag.png" data-node-field="imperial" data-type="image" data-form-type="image_image" data-format-type="image"><img class="cpn-img-wrapper" src="/{{ directory }}/images/imp-10efgbag.png" data-node-field="dixie" data-type="image" data-form-type="image_image" data-format-type="image"></div>
              </div>
              <div class="_50-pc cpn-top-right valign-parent">
                <h4 class="valign" data-node-field="title" data-type="string" data-form-type="string_textfield" data-format-type="string">Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              </div>
            </div>
            <div class="cpn-bottom">
              <h4 class="cpn-save">Save</h4>
              <div class="cpn-price pirce-dollar">$</div>
              <div class="cpn-price" data-node-field="price" data-type="string" data-form-type="string_textfield" data-format-type="string">40</div>
              <div class="cpn-price pirce-dollar" data-node-field="cent" data-type="string" data-form-type="string_textfield" data-format-type="string">&cent;</div>
              <a class="btn btn-clip-cpn w-button" href="#">Clip this coupon!</a>
            </div>
          </div>
        </div>
      </div>