<div class="_33-pc rcp-list-col w-clearfix" data-view="trending" data-filter-type="node" data-filter-bundle="recipe" data-block-field="trending" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="trending">
        <h2 class="secondary">Trending now</h2>
        {% for row in rows%}
          {% if loop.index < 6 %}
            <div class="list rcp-wrapper" data-node="recipe" data-view-mode="list">
            {{row}}
          {% elseif loop.index == 6 %}
            <div class="list rcp-wrapper w-hidden-main w-hidden-small w-hidden-tiny" data-node="recipe" data-view-mode="list">
            {{row}}
          {% endif %}
          </div>
        {% endfor %}
      </div>