<div class="container w-clearfix" data-view="dev_team" data-filter-type="node" data-filter-bundle="team" data-block-field="dev_team" data-target-type="view" data-target-bundle="dev_team" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id">
              <div class="_25-pc profile-card" data-mh="profile_card">
                <div class="basic-header-wrapper card separator-line" data-ix="fade-in-on-scroll" data-mh="profile_card">
                  <div class="card object-fit user-pic-wrapper">
                    <img height="75" src="/{{ directory }}/../images/recipe-developer-pic.jpg"></div>
                  <h3 class="card user-name">
                    <a class="quatinery" href="../user/recipe-box.html">Tessa Arias</a>
                  </h3>
                  <div class="user-profile-stats-wrapper">
                    <div class="_25-pc user-profile-stat-wrapper w-clearfix">
                      <h3 class="tab-counter user-profile">531</h3>
                      <div class="user-profile">Faves</div>
                    </div>
                    <div class="_25-pc user-profile-stat-wrapper w-clearfix">
                      <h3 class="tab-counter user-profile">37</h3>
                      <div class="user-profile">Recipes</div>
                    </div>
                  </div>
                  <p class="blogger-bio body-sm card">
                    Tessa is the writer behind the blog Handle the Heat&nbsp;where she shares scrumptious homemade recipes and explains the science behind cooking and &hellip;
                  </p>
                  <a class="card quatinery user-profile-link" href="../user/recipe-box.html">Learn more</a>
                  <a class="card user-profile-link" href="#">handletheheat.com</a>
                </div>
              </div>
            </div>