<div data-menu="sidenav" data-block-field="sidenav" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="menu" data-target-bundle="sidenav">
      <a class="side-nav-close-wrapper w-clearfix w-inline-block" data-ix="side-nav-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/{{ directory }}/images/side%20nav%20close%20x.svg" width="14"></a>
      <div class="separator-line"></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Recipes</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Quick and Easy</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Latest Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Most Popular</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Vintage Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Gluten Free</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Reduced Sugar</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Easter</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Easter Desserts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Easter Crafts &amp; Gifts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Easter for Kids</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">All Easter Ideas&hellip;</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Kids in the Kitchen</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/my-first-cookbook.html">My First Cookbooks</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/cubie-cubettes-cooking-club.html">Cubie &amp; Cubette's Cooking Club</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Fun Kids' Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Edible Art Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Kids Craft Ideas</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Sweet Science Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Flavored and Colored Sugar</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="kids-in-the-kitchen/recipe-collection.html">Homemade Candy</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Sugar Spa</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="sugar-spa/recipe-collection.html">Sugar Scrubs</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="sugar-spa/recipe-collection.html">Bath Products</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="sugar-spa/recipe-collection.html">Sugar Scrub Labels</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Community</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="community.html">Join the Community</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="community/share-a-recipe.html">Share a Recipe</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="recipes/recipe-collection.html">Community Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="user/recipe-box.html">Meet Chef Eddy Van Damme</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="community/our-bloggers.html">Meet our Bloggers</a>
        </nav></div>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="blog-2.html">
        <div>Blog</div>
      </a>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="contests.html">
        <div>Contests</div>
      </a>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="coupons.html">
        <div>Coupons</div>
      </a>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>More</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-clearfix w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="baking-videos.html">Baking Videos</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="cooking-and-baking-tips.html">Cooking &amp; Baking Tips</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="conversion-charts.html">Conversion Charts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="digital-cookbooks.html">Digital Cookbooks</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="sweetalk-newsletter.html">Sweetalk Newsletter</a>
          <div class="separator-line"></div>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="vintage-imperial.html">Vintage Imperial</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="cane-sugar-101.html">Cane Sugar 101</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="products-3.html">Imperial Sugar Products</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="contact.html">Contact Us</a>
        </nav></div>
      <div class="separator-line"></div>
      <div class="bottom-padding main-nav-link-bg-highlight side-nav-link w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="quatinery">Account</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="user/recipe-box.html">My Recipe Box</a>
          <a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="user/edit-profile.html">Edit Profile</a>
          <a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="index.html">Log Out</a>
        </nav></div>
    </div>