<div class="w-hidden-tiny" data-menu="footermenu" data-block-field="footermenu" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="menu" data-target-bundle="footermenu">
          <a class="main-nav-link-bg-highlight" href="#">Recipes</a>
          <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Kids in the Kitchen</a>
          <a class="main-nav-link-bg-highlight" href="#">Community</a>
          <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Blog</a>
          <a class="main-nav-link-bg-highlight" href="#">Coupons</a>
          <a class="main-nav-link-bg-highlight" href="#">Products</a>
          <a class="main-nav-link-bg-highlight" href="#">Contact Us</a>
        </div>