<div class="rcp-wrapper" data-node="recipe" data-view-mode="large_slider">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating w-clearfix">
                      <div class="rcp-rating-title valign-t">Rating</div>
                      <div class="stars" data-node-field="rating">{{ content.recipe_rating }}</div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">31</div>
                      <div class="hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                  <h3 data-node-field="title">{{ content.recipe_title }}</h3></a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">By: 
                      {{ content.recipe_chef }}
                    </div>
                  </div>
                </div>
                {{ content.recipe_image }}</div>