<div class="list rcp-wrapper w-clearfix" data-node="recipe" data-view-mode="trending" data-view="trending" data-filter-type="node" data-filter-bundle="recipe" data-block-field="trending" data-target-type="view" data-target-bundle="trending" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id">
          <div class="rcp-list-img w-clearfix">
            {{ content.recipe_image }}</div>
          <div class="activity list w-clearfix">
            <div class="list saves w-clearfix">
              <div class="list save-icon"></div>
              <div class="rcp-list saved-tally">31</div>
            </div>
            <div class="stars" data-node-field="rating">{{ content.recipe_rating }}</div>
          </div>
          <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
            <h4 data-node-field="title">{{ content.recipe_title }}</h4></a>
          <div class="rcp-list summary">
            <div class="dynamic-data rcp-summary-data">By: {{ content.recipe_chef }}
            </div>
          </div>
        </div>