<div class="_50-pc card user-cmmt-wrapper" data-node="comment">
          <div class="activity separator-line user-cmmt w-clearfix">
            <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
              {{ content.recipe_usr_img }}</a>
            <div class="rcp-author rcp-main rcp-summary-data">
              <a href="#" data-block-field="sign_in" data-type="link" data-form-type="link_default" data-format-type="link">Kimberley O'Quinn</a>
            </div>
            <div class="stars user-cmmt" data-node-field="rating">{{ content.comment_rating }}</div>
            <div class="body-small date user-cmmt">Feb 21, 2016</div>
          </div>
          <p class="user-cmmt-txt" data-node-field="cmmt_txt">{{ content.comment_cmmt_txt }}</p><a class="secondary" href="#">Read more&hellip;</a>
        </div>