<div class="_25-pc" data-node="recipe" data-view-mode="card">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>