<div class="art-wrapper" data-node="article" data-view-mode="card">
          <div class="art-img-wrapper">
            {{ content.article_image }}</div>
          <h4 class="art-date" data-node-field="date">{{ content.article_date }}</h4>
          <h3 class="art-title" data-node-field="title">{{ content.article_title }}</h3>
          <p data-node-field="summary">{{ content.article_summary }}</p>
          <a class="btn btn-text" href="#">Read More</a>
        </div>