<nav class="mega-menu-wrapper nav-account w-clearfix w-dropdown-list" data-menu="usernav" data-block-field="usernav" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="menu" data-target-bundle="usernav"><div class="mega-menu-column">
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="user/recipe-box.html">My Recipe Box</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="community/share-a-recipe.html">Share a Recipe</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="user/edit-profile.html">Edit Profile</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="index.html">Log Out</a>
          </div>
        </nav>