<div class="card-slider container margin-top-bottom" data-view="related_news" data-filter-type="node" data-filter-bundle="news" data-node-field="related_news" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="related_news">
          <div class="separator-line"></div>
          <h3 class="secondary txt-centered">Related Sweetalk Articles</h3>
          <div class="collection-title-underline"></div>
          <div class="base-slider card w-slider" data-animation="slide" data-duration="200" data-infinite="1">
            <div class="w-slider-mask">
              <div class="_25-pc slide w-slide" data-node="news" data-view-mode="card">
                <div class="blog-wrapper card short" data-ix="fade-in-on-scroll" data-mh="card">
                  <div class="art-img-wrapper object-fit">
                    <img height="200" src="/themes/imperial/../images/blog-article-image.jpg"></div>
                  <h4 class="art-date">May 2, 2016</h4>
                  <a class="art-title w-inline-block" href="../blog/blog-article.html">
                    <h3 class="art-title">11 Questions to Ask Your Wedding Cake Baker</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav"></div>
          </div>
        </div>