<div class="_33-pc rcp-list-col w-clearfix" data-view="trending" data-filter-type="node" data-filter-bundle="recipe" data-block-field="trending" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="trending">
        <h2 class="secondary">Trending now</h2>
        <div class="list rcp-wrapper" data-node="recipe" data-view-mode="list">
          <div class="rcp-info-wrapper rcp-list">
            <div class="activity list">
              <div class="stars"></div>
              <div class="likes list w-clearfix">
                <div class="rcp-list saved-tally">31</div>
                <div class="like-icon list" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
                </div>
              </div>
              <div class="likes list w-clearfix">
                <div class="rcp-list saved-tally">31</div>
                <div class="list save-icon" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
                </div>
              </div>
            </div><a class="list rcp-title w-inline-block" href="recipes/recipe.html"><h4>Delicious Praline Cinnamon Monkey Bread</h4></a>
            <div class="rcp-list summary">
              <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
              </div>
            </div>
          </div>
          <div class="object-fit rcp-img-list"><img height="99" src="/themes/imperial/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
        </div>
      </div>