<div class="w-clearfix" data-view="sugar_list" data-filter-type="node" data-filter-bundle="sugar_101" data-block-field="sugar_list" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="sugar_list">
        <div class="_33-pc">
          <div class="blog-wrapper card separator-line" data-mh="card">
            <div class="art-img-wrapper object-fit">
              <img height="200" src="/themes/imperial/images/17955_720_Sugar101-DarkVsLight_ISC-01_03.jpg"></div>
            <a class="w-inline-block" href="blog/blog-article.html">
              <h3 class="art-title">Dark Brown Sugar vs. Light Brown Sugar</h3>
            </a>
            <p class="w-hidden-small w-hidden-tiny">
              Brown sugar is simply granulated "white" sugar that has been combined with pure cane molasses. Molasses is a natural by-product of the sugar-making process. The difference between light and dark brown sugar is simply the amount of molasses added&hellip;
            </p>
            <a class="display-block secondary w-hidden-small w-hidden-tiny" href="#">Read more&hellip;</a>
          </div>
        </div>
      </div>