<div class="w-clearfix" data-view="all_contest" data-filter-type="node" data-filter-bundle="contest" data-block-field="list" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="all_contest">
        <div class="_33-50-50-100-width _33-pc">
          <div class="blog-wrapper card separator-line" data-mh="card">
            <a class="art-img-wrapper contest w-inline-block" href="#">
              <img src="/themes/imperial/images/contest.jpg" width="100%"></a>
            <div>
              <a class="w-inline-block" href="blog/blog-article.html">
                <h3 class="art-title">One Day Coupon Giveaway!</h3>
              </a>
              <p class="w-hidden-small w-hidden-tiny">
                It's &nbsp;time for our annual&nbsp;One Day Coupon Giveaway! Enter to win on one day only - Wednesday, July 13, 2016. 1,500 Imperial Sugar fans will win one (1) coupon for $3.75 off of one (1) of our products!&nbsp;Learn more here!
              </p>
              <a class="display-block secondary" href="#">See the winners&hellip;</a>
            </div>
          </div>
        </div>
      </div>