<div class="_66-pc" data-view="hero" data-filter-type="node" data-filter-bundle="recipe" data-block-field="hero" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="hero">
        <h2 class="secondary">Popular recipes this month</h2>
        <div class="base-slider hero w-slider" data-animation="slide" data-autoplay="1" data-delay="6000" data-duration="300" data-infinite="1">
          <div class="w-slider-mask" data-node="recipe" data-view-mode="hero">
            <div class="w-slide">
              <div class="rcp-wrapper">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">31</div>
                      <div class="hero save-icon" data-ix="modal-login-show"></div>
                      <div class="faved hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                    <h3>Lemon and White Chocolate Cannoli</h3>
                  </a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">
                      By:
                      <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="object-fit rcp-img-hero">
                  <img height="500" src="/themes/imperial/images/recipe-hero.jpg"></div>
              </div>
            </div>
            <div class="w-slide">
              <div class="rcp-wrapper">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">4.9K</div>
                      <div class="hero save-icon" data-ix="modal-login-show"></div>
                      <div class="faved hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                    <h3>Pink Lemonade Layer Cake</h3>
                  </a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">
                      By:
                      <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="video-btn-wrapper">
                  <a class="w-inline-block" href="#">
                    <img src="/themes/imperial/images/icon-video-play-white.svg"></a>
                </div>
                <div class="object-fit rcp-img-hero">
                  <img height="500" src="/themes/imperial/images/pink-lemonade-layer-cake.jpg"></div>
              </div>
            </div>
            <div class="w-slide">
              <div class="rcp-wrapper">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">31</div>
                      <div class="hero save-icon" data-ix="modal-login-show"></div>
                      <div class="faved hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                    <h3>Lemon and White Chocolate Cannoli</h3>
                  </a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">
                      By:
                      <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="object-fit rcp-img-hero">
                  <img height="500" src="/themes/imperial/images/recipe-hero.jpg"></div>
              </div>
            </div>
            <div class="w-slide">
              <div class="rcp-wrapper">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">4.9K</div>
                      <div class="hero save-icon" data-ix="modal-login-show"></div>
                      <div class="faved hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                    <h3>Pink Lemonade Layer Cake</h3>
                  </a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">
                      By:
                      <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="video-btn-wrapper">
                  <a class="w-inline-block" href="#">
                    <img src="/themes/imperial/images/icon-video-play-white.svg"></a>
                </div>
                <div class="object-fit rcp-img-hero">
                  <img height="500" src="/themes/imperial/images/pink-lemonade-layer-cake.jpg"></div>
              </div>
            </div>
            <div class="w-slide">
              <div class="rcp-wrapper">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="saves w-clearfix">
                      <div class="saved-tally">31</div>
                      <div class="hero save-icon" data-ix="modal-login-show"></div>
                      <div class="faved hero save-icon"></div>
                    </div>
                  </div>
                  <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                    <h3>Lemon and White Chocolate Cannoli</h3>
                  </a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">
                      By:
                      <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="object-fit rcp-img-hero">
                  <img height="500" src="/themes/imperial/images/recipe-hero.jpg"></div>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav w-slider-nav-invert"></div>
        </div>
      </div>