<div class="w-slider-mask" data-view="popular_blogs" data-filter-type="node" data-filter-bundle="blog" data-block-field="popular" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="popular_blogs">
          <div class="_25-pc slide w-slide">
            <div class="blog-wrapper card short" data-ix="fade-in-on-scroll" data-mh="card">
              <div class="art-img-wrapper object-fit">
                <img height="200" src="/themes/imperial/images/blog-article-image.jpg"></div>
              <h4 class="art-date">May 2, 2016</h4>
              <a class="art-title w-inline-block" href="blog/blog-article.html">
                <h3 class="art-title">11 Questions to Ask Your Wedding Cake Baker</h3>
              </a>
            </div>
          </div>
        </div>