<div class="art-img-wrapper container hero object-fit valign-parent" data-view="blog_hero" data-filter-type="node" data-filter-bundle="blog" data-block-field="hero" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="blog_hero">
      <div class="blog-hero-overlay"></div>
      <img height="500" src="/themes/imperial/images/Candied-Nut-Recipes-is-2.jpg"><div class="_8col container position-absolute txt-centered valign-parent">
        <div class="valign">
          <p class="body-lg tertiary txt-uppercase">Latest Article</p>
          <a class="art-title tertiary w-inline-block" href="#">
            <h1 class="tertiary">7 Delicious Candied Nut Recipes</h1>
          </a>
          <a class="btn w-button" href="blog/blog-article.html">Read now</a>
        </div>
      </div>
    </div>