<div class="blog-wrapper card separator-line" data-ix="fade-in-on-scroll" data-mh="card" data-node="blog" data-view-mode="blog" data-view="sweetalk_blog" data-filter-type="node" data-filter-bundle="blog" data-block-field="sweetalk_blog" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="sweetalk_blog">
            <div class="art-img-wrapper object-fit">
              <img height="200" src="/themes/imperial/images/13-Sweet-Science-Projects-from-Imperial-Sugar.jpg"></div>
            <h4 class="art-date">May 2, 2016</h4>
            <a class="w-inline-block" href="blog/blog-article.html">
              <h3 class="art-title">13 Sweet Science Projects</h3>
            </a>
            <p class="w-hidden-small w-hidden-tiny">
              School isn&rsquo;t in session any longer, but that doesn&rsquo;t mean learning has to stop. Hands-on science projects are one of the best ways to keep children&rsquo;s brains engaged all summer long. According to the Resource Area for Teaching, &ldquo;99% of teachers report their &hellip;
            </p>
            <a class="display-block secondary w-hidden-small w-hidden-tiny" href="#">Read more&hellip;</a>
          </div>