<div class="w-clearfix" data-view="contest_hero" data-filter-type="node" data-filter-bundle="contest" data-block-field="hero" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="contest_hero">
        <div class="_50-pc contest" data-mh="featured">
          <a class="contest rcp-wrapper w-inline-block" href="#">
            <img height="100%" src="/themes/imperial/images/contest.jpg"></a>
        </div>
        <div class="_50-pc valign-parent" data-mh="featured">
          <div class="valign video-info-wrapper">
            <a class="rcp-title video w-inline-block" href="contests/contest.html">
              <h2>One Day Coupon Giveaway!</h2>
            </a>
            <p class="body-lg">
              It's &nbsp;time for our annual&nbsp;One Day Coupon Giveaway! Enter to win on one day only - Wednesday, July 13, 2016. 1,500 Imperial Sugar fans will win one (1) coupon for $3.75 off of one (1) of our products!
            </p>
            <a class="btn btn-contest-enter w-button" href="contests/contest.html">Enter Now!</a>
          </div>
        </div>
      </div>