<div class="container" data-view="baking_videos" data-filter-type="node" data-filter-bundle="baking_videos" data-block-field="baking" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="baking_videos">
      <div class="w-clearfix">
        <div class="_33-50-50-100-width _33-pc">
          <div class="separator-line vdo-wrapper" data-ix="fade-in-on-scroll" data-mh="card">
            <a class="_wf-lightbox-link-override card w-inline-block w-lightbox" href="#">
              <div class="card video video-btn-wrapper">
                <img height="50" src="/themes/imperial/images/icon-video-play-white.svg"></div>
              <img height="100%" src="/themes/imperial/images/Imprl_Hr_Thmb_HomemadeSnickersBars.jpg"><script class="w-json" type="application/json">
                { "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FAPj2ArUy6v4%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAPj2ArUy6v4&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAPj2ArUy6v4%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAPj2ArUy6v4%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=APj2ArUy6v4"
                }] }
              </script></a>
            <div class="w-clearfix">
              <div class="_75-pc card vdo">
                <h3 class="art-title card vdo">Homemade Snickers Bars</h3>
              </div>
              <div class="_25-pc card vdo w-clearfix">
                <div class="card saves video w-clearfix">
                  <div class="saved-tally">4.9K</div>
                  <div class="faved hero save-icon video"></div>
                  <div class="hero save-icon video" data-ix="modal-login-show"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="load-more-wrapper">
        <a class="btn w-button" href="#">Show more</a>
      </div>
    </div>