<div class="w-clearfix" data-view="free_digital" data-filter-type="node" data-filter-bundle="free_digitalbk" data-block-field="free_digital" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="free_digital">
        <div class="_25-pc txt-centered" data-node="free_digitalbk" data-view-mode="card">
          <div class="blog-wrapper card cookbk separator-line" data-ix="fade-in-on-scroll" data-mh="card">
            <div class="cookbk-img-wrapper">
              <img class="center-img" src="/themes/imperial/images/Spooktacular-Cover-Imperial.jpg" data-node-field="image" data-type="image" data-form-type="image_image" data-format-type="image"></div>
            <h3 class="art-title card cookbk" data-node-field="name" data-type="string" data-form-type="string_textfield" data-format-type="string">Halloween Cookbook</h3>
            <h3 class="art-title card cookbk" data-node-field="year" data-type="string" data-form-type="string_textfield" data-format-type="string">2015</h3>
            <p>
              Check out our new Spooktacular Halloween Treats eCookbook! You'll find 23 deliciously spooky recipes designed for fun.&nbsp;Just click on the image below to view and print.
            </p>
            <a class="btn btn-sm cookbk w-button" href="#" data-node-field="link" data-type="link" data-form-type="link_default" data-format-type="link">Download PDF</a>
          </div>
        </div>
      </div>