<div class="w-slider-mask" data-view="rc_hero" data-filter-type="node" data-filter-bundle="rc_overview" data-node-field="hero" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="view" data-target-bundle="rc_hero">
              <div class="w-slide">
                <div class="rcp-wrapper" data-node="rc_overview" data-view-mode="hero">
                  <div class="rcp-info-wrapper">
                    <div class="activity rcp-hero w-clearfix">
                      <div class="rcp-rating">
                        <div class="hero stars"></div>
                      </div>
                      <div class="saves w-clearfix">
                        <div class="saved-tally">31</div>
                        <div class="hero save-icon" data-ix="modal-login-show"></div>
                        <div class="faved hero save-icon"></div>
                      </div>
                    </div>
                    <a class="rcp-title w-inline-block" href="recipes/recipe.html">
                      <h3>Lemon and White Chocolate Cannoli</h3>
                    </a>
                    <div class="summary">
                      <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                      <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                      <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                      <div class="dynamic-data rcp-summary-data">
                        By:
                        <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                      </div>
                    </div>
                  </div>
                  <div class="object-fit rcp-img-hero">
                    <img height="500" src="/themes/imperial/images/recipe-hero.jpg"></div>
                </div>
              </div>
            </div>