<form data-name="Email Form 2" data-block-field="form" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_view" data-target-type="contact_form" data-target-bundle="contact_us" data-form="contact_us">
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Questions or comments*</label>
              <p class="body-sm">* = Required field</p>
            </div>
            <div class="_75-pc w-clearfix">
              <textarea class="_66-pc form-multi-line-text-heigh w-input" data-name="Questions or comments" id="Questions-or-comments" maxlength="5000" name="Questions-or-comments" placeholder="Questions or comments" required="required"></textarea></div>
          </div>
          <h3 class="secondary">Your Details</h3>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">First name*</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-66-pc w-input" data-name="First Name" id="First-Name" maxlength="256" name="First-Name" placeholder="First Name" required="required" type="text"></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Last name*</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-66-pc w-input" data-name="Last name" id="Last-name-2" maxlength="256" name="Last-name" placeholder="Last name" required="required" type="text"></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Email*</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-66-pc w-input" data-name="Email address" id="Email-address" maxlength="256" name="Email-address" placeholder="Email address" required="required" type="email"></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">State*</label>
            </div>
            <div class="_75-pc w-clearfix">
              <select class="_66-pc w-select" data-name="US State" id="US-State-3" name="US-State"><option value="">Select the US State you live in&hellip;</option><option value="AL">AL - Alabama</option><option value="AK">AK - Alaska</option><option value="AZ">AZ - Arizona</option><option value="AR">AR - Arkansas</option><option value="CA">CA - California</option><option value="CO">CO - Colorado</option><option value="CT">CT - Connecticut</option></select></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Contact phone</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-33-pc w-input" data-name="Phone Number 2" id="Phone-number-2" maxlength="256" name="Phone-number-2" placeholder="Phone number" type="text"></div>
          </div>
          <div class="extra-margin separator-line"></div>
          <h3 class="secondary">Products</h3>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Which products are you contacting us about?</label>
            </div>
            <div class="_75-pc w-clearfix">
              <select class="_66-pc w-select" data-name="Product" id="Product" name="Product"><option value="-">No specific product, just general inquiry</option><option value="Sugar Shaker - Cinnamon">Sugar Shaker - Cinnamon</option><option value="Sugar Shaker - Extra Fine Granulated Sugar Cane">Sugar Shaker - Extra Fine Granulated Sugar Cane</option><option value="Dark Brown - Sugar Box">Dark Brown - Sugar Box</option></select></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Product Lot Code</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-33-pc w-input" data-name="Product Lot Code" id="Product-Lot-Code" maxlength="256" name="Product-Lot-Code" placeholder="Product Lot Code" type="text"><a class="w-inline-block w-lightbox" href="#">
                <div>Where do I find the product lot code?</div>
                <script class="w-json" type="application/json">
                  { "items": [{
                    "_id": "578e74a27230cb134371da96",
                    "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/57926c00412fc21f2b642fc1/57926c00412fc21f2b6430c0_vintage2.jpg",
                    "fileName": "57926c00412fc21f2b6430c0_vintage2.jpg",
                    "origFileName": "vintage2.jpg",
                    "width": 670,
                    "height": 390,
                    "fileSize": 84978,
                    "type": "image",
                    "url": "images/vintage2.jpg"
                  }] }
                </script></a>
            </div>
          </div>
          <div class="extra-margin separator-line"></div>
          <h4 class="secondary">Sign up for more info</h4>
          <div class="w-checkbox w-clearfix">
            <input class="w-checkbox-input" data-name="Sign Up For Newsletter" id="Sign-Up-For-Newsletter-3" name="Sign-Up-For-Newsletter" type="checkbox"><label class="w-form-label" for="Sign-Up-For-Newsletter-3">
              I would you like to sign up for coupons, promotions, newsletters and specials from Imperial Sugar.
            </label>
          </div>
          <div class="extra-margin separator-line"></div>
          <h4 class="secondary">Help us improve this website</h4>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">I am a&hellip;</label>
            </div>
            <div class="_75-pc w-clearfix">
              <select class="_66-pc w-select" data-name="Role 2" id="Role-2" name="Role-2"><option value="-">Select your role&hellip;</option><option value="Home baker">Home baker</option><option value="Professional Baker">Professional Baker</option><option value="Industrial Buyer">Industrial Buyer</option></select></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">How did you hear about us?</label>
            </div>
            <div class="_75-pc w-clearfix">
              <select class="_66-pc w-select" data-name="How did you hear about us?" id="How-did-you-hear-about-us" name="How-did-you-hear-about-us"><option value="-">How did you hear about us?</option><option value="Google Search">Google Search</option><option value="TV Ad">TV Ad</option><option value="allrecipes.com">allrecipes.com</option></select></div>
          </div>
          <div class="extra-margin separator-line"></div>
          <div>
            <div class="txt-centered">
              <input class="btn btn-form btn-submit w-button" data-ix="modal-form-thanks-show" data-wait="Please wait..." type="submit" value="Send inquiry"></div>
          </div>
          </form>