<div class="form-input-wrapper" data-vocabulary="tags" data-node-field="tags" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_view" data-target-type="taxonomy_term" data-target-bundle="tags" data-form="tags">
              <h4>Tags</h4>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 133" id="checkbox-133" name="checkbox-133" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-133">Recipes</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 134" id="checkbox-134" name="checkbox-134" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-134">Baking Tips</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 135" id="checkbox-135" name="checkbox-135" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-135">Gifts</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 136" id="checkbox-136" name="checkbox-136" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-136">Holidays</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 137" id="checkbox-137" name="checkbox-137" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-137">Kids Kitchen</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 138" id="checkbox-138" name="checkbox-138" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-138">Sugar Spa</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 139" id="checkbox-139" name="checkbox-139" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-139">Videos</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 140" id="checkbox-140" name="checkbox-140" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-140">Another Tag</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 141" id="checkbox-141" name="checkbox-141" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-141">Tag Number 24</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 142" id="checkbox-142" name="checkbox-142" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-142">Tag 25</label>
              </div>
              <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                <input class="display-none w-checkbox-input" data-name="Checkbox 143" id="checkbox-143" name="checkbox-143" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-143">A new tag you added today :)</label>
              </div>
            </div>