<div {{ attributes }}> {{ title_suffix }}

<div class="_33-pc" data-block="consumer">
        <div class="contact-details main separator-line-top-bottom">
          <div class="secondary">
            <h2 data-block-field="title">{{ content.consumer_title }}</h2>
          </div>
         <div data-block-field="description">{{ content.consumer_description }}</div>
        </div>
        <div class="contact-details separator-line">
          <h4 class="secondary">Sales Departments</h4>
          <p>
            Industrial, Foodservice or Retail inquiries for all brands:
            <a href-disabled="tel:+118007278427" href="tel:+118007278427">1-800-72-SUGAR (1-800-727-8427)</a>
          </p>
          <p>
            Industrial Brands:
            <br><a href="mailto:Imp_industrial@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">Imp_industrial@ImperialSugar.com</a>
          </p>
          <p>
            Foodservice Brands:
            <br><a href="mailto:Foodservice@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">Foodservice@ImperialSugar.com</a>
          </p>
          <p>
            Specialties Products:
            <br><a href="mailto:Specialties@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">Specialties@ImperialSugar.com</a>
          </p>
          <p>
            Grocery Products:
            <br><a href="mailto:Imp_grocery@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">Imp_grocery@ImperialSugar.com</a>
          </p>
        </div>
        <div class="contact-details separator-line">
          <h4 class="secondary">Other Departments</h4>
          <p>
            Human Resources:
            <br><a href="mailto:ISCHR@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">ISCHR@ImperialSugar.com</a>
          </p>
          <p>
            Donation Requests:
            <br><a href="mailto:DonationRequests@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">DonationRequests@ImperialSugar.com</a>
          </p>
          <p>
            Sponsorship Requests:
            <br><a href="mailto:SponsorshipRequests@ImperialSugar.com?subject=Email%20from%20Contact%20Us%20website%20form">SponsorshipRequests@ImperialSugar.com</a>
          </p>
        </div>
        <div class="contact-details separator-line">
          <h4 class="secondary">Addresses</h4>
          <p> <strong>Imperial Sugar Co &ndash; Sugar Land, Texas</strong>
            <br>
            3 Sugar Creek Center Blvd., Suite 500
            <br>
            Sugar Land, TX 77478
            <br><a target="_blank" href="https://www.google.com/maps/place/3+Sugar+Creek+Center+Blvd,+Sugar+Land,+TX+77478/@29.6222243,-95.6062939,17z/data=!3m1!4b1!4m5!3m4!1s0x8640e6ff89107551:0x1b9e996256f04a66!8m2!3d29.6222197!4d-95.6041052">See Map</a>
          </p>
          <p> <strong>Imperial Sugar Co &ndash; Port Wentworth, Georgia</strong>
            <br>
            201 Oxnard Dr.
            <br>
            Port Wentworth, GA 31407
            <br><a href="https://www.google.com/maps/place/201+Oxnard+Dr,+Savannah,+GA+31407/@32.143183,-81.1508377,17z/data=!3m1!4b1!4m5!3m4!1s0x88fb98b168477e87:0x258e0248bb5cf83!8m2!3d32.143183!4d-81.148649" target="_blank">See Map</a>
          </p>
          <p>
            <strong>Imperial Sugar Co &ndash; Gramercy</strong>
            <br>
            1330 Hwy 641
            <br>
            Gramercy, LA 77052
            <br><a href="https://www.google.com/maps/place/1330+LA-641,+Gramercy,+LA+70052/@30.0678486,-90.6872465,17z/data=!3m1!4b1!4m5!3m4!1s0x86212c031b0d8237:0xf9a9b581ea54e146!8m2!3d30.067844!4d-90.6850578" target="_blank">See Map</a>
          </p>
          <p>
            <strong>Louis Dreyfus Commodities B.V.</strong>
            <br>
            Westblaak 92
            <br>
            3012 KM Rotterdam
            <br>
            Netherlands
            <br><a target="_blank" href="https://www.google.com/maps/place/Westblaak+92,+3012+KM+Rotterdam,+Netherlands/@51.9166325,4.4749641,17z/data=!3m1!4b1!4m5!3m4!1s0x47c4335ff4df9ea3:0x41a86c8e7f937732!8m2!3d51.9166292!4d4.4771528">See Map</a>
          </p>
        </div>
      </div>

</div>