<div {{ attributes }}> {{ title_suffix }}

<div class="cta-wrapper scl-actions sidebar w-clearfix" data-ix="fixed-scl-actions" data-block="r_share">
          <h4>Tell others you&rsquo;re making this recipe!</h4>
          <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
          <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
          <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
          <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
          <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
          <a class="btn btn-tertiary rate scl-actions w-button" href="#">Rate it</a>
        </div>

</div>