<div {{ attributes }}> {{ title_suffix }}

<div class="cta-wrapper share-rcp" data-block="sweet_com">
    <div class="_10col container">
      <img height="80" src="/themes/imperial/images/cupcake-icon.svg"><h1>Our sweet community</h1>
      <p>
        Welcome to our community of talented bakers, cooks, bloggers, foodies, chefs, and kitchen dabblers.&nbsp;
      </p>
      <div class="benefits-wrapper">
        <h3>Join our community!</h3>
        <p>
          Get great FREE benefits
          <a class="secondary" href="#">when you join</a>
          our sweet community:
        </p>
        <p class="txt-benefits">Get exclusive access to money saving coupons</p>
        <p class="txt-benefits">Share your family recipes with the community!</p>
        <p class="txt-benefits">
          Rate and review recipes, and add handy tips for other bakers!
        </p>
        <p class="txt-benefits">Save favourite recipes to your personalized recipe box</p>
        <a class="btn btn-alt btn-secondary w-button" data-ix="show-read-comment-modal">Join FREE today!</a>
      </div>
    </div>
  </div>

</div>