<div {{ attributes }}> {{ title_suffix }}

<div class="subscribe-wrapper" data-block="footer_subscribe">
    <div class="container global-subscribe">
      <div class="subscribe-text" data-block-field="description">{{ content.footer_subscribe_description }}</div>
      <div class="subscribe-form-position">
        {{ content.footer_subscribe_subscribe }}
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>

</div>