<div class="_33-pc rcp-cllctn-card" data-node="rc_overview" data-view-mode="card">
          <div class="rcp-cllctn-wrapper">
            <div class="object-fit rcp-cllctn-img">
              <img height="330" src="/{{ directory }}/images/Dark-Chocolate-Guinness-Cake-with-Bailey's-Buttercream.jpg"></div>
            <div class="img-overlay-35"></div>
            <a class="title-absolute-center w-inline-block" href="recipes/recipe-collection.html">
              <h2 class="tertiary">Recipe Collection Title</h2>
            </a>
          </div>
        </div>