<div class="_25-pc" data-node="recipe_collection" data-view-mode="card">
            <div class="card rcp-wrapper" data-ix="fade-in-on-scroll" data-mh="card" data-node="recipe_collection" data-view-mode="card">
              <div class="card rcp-info-wrapper">
                <div class="activity rcp-hero w-clearfix">
                  <div class="rcp-rating">
                    <div class="stars"></div>
                  </div>
                  <div class="saves w-clearfix">
                    <div class="saved-tally">31</div>
                    <div class="card save-icon" data-ix="modal-login-show"></div>
                    <div class="card faved save-icon"></div>
                  </div>
                </div>
                <a class="card rcp-title w-inline-block" href="../recipes/recipe.html">
                  <h4>Easter Lemon Coconut Cream Cake</h4>
                </a>
                <div class="summary">
                  <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                  <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                </div>
              </div>
              <div class="object-fit rcp-img-card">
                <img height="330" src="/{{ directory }}/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
            </div>
          </div>