<div class="_25-pc txt-centered" data-node="free_digitalbk" data-view-mode="card">
          <div class="blog-wrapper card cookbk separator-line" data-ix="fade-in-on-scroll" data-mh="card">
            <div class="cookbk-img-wrapper">
              {{ content.free_digitalbk_image }}</div>
            <h3 class="art-title card cookbk" data-node-field="name">{{ content.free_digitalbk_name }}</h3>
            <h3 class="art-title card cookbk" data-node-field="year">{{ content.free_digitalbk_year }}</h3>
            <p>
              Check out our new Spooktacular Halloween Treats eCookbook! You'll find 23 deliciously spooky recipes designed for fun.&nbsp;Just click on the image below to view and print.
            </p>
            {{ content.free_digitalbk_link }}
          </div>
        </div>