<div class="_25-pc slide w-slide" data-node="news" data-view-mode="card">
                <div class="blog-wrapper card short" data-ix="fade-in-on-scroll" data-mh="card">
                  <div class="art-img-wrapper object-fit">
                    <img height="200" src="/{{ directory }}/images/blog-article-image.jpg"></div>
                  <h4 class="art-date">May 2, 2016</h4>
                  <a class="art-title w-inline-block" href="../blog/blog-article.html">
                    <h3 class="art-title">11 Questions to Ask Your Wedding Cake Baker</h3>
                  </a>
                </div>
              </div>