
              <div class="w-slide">
              <div class="rcp-wrapper" data-node="recipe" data-view-mode="hero">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars"></div>
                    </div>
                    <div class="likes w-clearfix">
                      <div class="saved-tally">4.9K</div>
                      <div class="hero save-icon" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
                      </div>
                    </div>
                    <div class="likes w-clearfix">
                      <div class="saved-tally">4.9K</div>
                      <div class="hero like-icon" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
                      </div>
                    </div>
                  </div><a class="rcp-title w-inline-block" href="recipes/recipe.html"><h3>Lemon and White Chocolate Cannoli</h3></a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                    </div>
                  </div>
                </div>
                <div class="object-fit rcp-img-hero"><img height="500" src="/themes/imperial/images/recipe-hero.jpg"></div>
              </div>
            </div>