<div class="_25-pc profile-card" data-mh="profile_card" data-node="team" data-view-mode="card">
                <div class="basic-header-wrapper card separator-line" data-ix="fade-in-on-scroll" data-mh="profile_card">
                  <div class="card object-fit user-pic-wrapper">
                    {{ content.team_image }}</div>
                  <h3 class="card user-name">
                    <a class="quatinery" href="../user/recipe-box.html">Tessa Arias</a>
                  </h3>
                  <div class="user-profile-stats-wrapper">
                    <div class="_25-pc user-profile-stat-wrapper w-clearfix">
                      <h3 class="tab-counter user-profile">531</h3>
                      <div class="user-profile">Faves</div>
                    </div>
                    <div class="_25-pc user-profile-stat-wrapper w-clearfix">
                      <h3 class="tab-counter user-profile">37</h3>
                      <div class="user-profile">Recipes</div>
                    </div>
                  </div>
                  <div class="blogger-bio body-sm card" data-block-field="description" data-type="text_long" data-form-type="text_textarea" data-format-type="text_default">
                    <p>
                      Tessa is the writer behind the blog Handle the Heat&nbsp;where she shares scrumptious homemade recipes and explains the science behind cooking and &hellip;
                    </p>
                  </div>
                  <a class="card quatinery user-profile-link" href="../user/recipe-box.html">Learn more</a>
                  {{ content.team_blog }}
                </div>
              </div>