<div class="default-section" data-node="contest">
    <div class="container w-clearfix">
      <div class="_16-pc sidebar w-clearfix">
        <div class="blog cta-wrapper scl-actions sidebar">
          <h4>Share this!</h4>
          <a class="blog btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
          <a class="blog btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
          <a class="blog btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
          <a class="blog btn btn-tertiary scl-actions w-button" href="#">Email it</a>
          <a class="blog btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
        </div>
      </div>
      <div class="_83-pc ck-editor container">
        <h1>One Day Coupon Giveaway!</h1>
        <div class="blog-img contest">
          <img src="//{{ directory }}/images/contest.jpg" width="100%"></div>
        <div class="rcp-text-wrapper">
          <p class="body-lg">
            It's &nbsp;time for our annual&nbsp;One Day Coupon Giveaway! Enter to win on one day only - Wednesday, July 13, 2016. 1,500 Imperial Sugar fans will win one (1) coupon for $3.75 off of one (1) of our products!&nbsp;Learn more here!
          </p>
          <h2 class="secondary">How to enter</h2>
          <p>
            1. For one day only, Wednesday, July 13, 2016, you may enter to win a coupon for free sugar by completing the entry form below.
            <br>
            2. Enter the giveaway only one time in order for your entry to be valid. Duplicate entries will be disqualified.
          </p>
          <h2 class="secondary">Rules to Enter</h2>
          <p>
            Contest runs for one day only - on Wednesday, July 13, 2016. At the end of the contest period, we'll hold a random drawing from all valid entries. 1,500 lucky fans will each win one (1) coupon worth $3.75 off of any one (1) of our sugar products.&nbsp;
          </p>
          <p>
            1. You may enter one contest - either Imperial's or Dixie's, but not both.
            <br>
            2. One entry per person, per household.
            <br>
            3. One winner per household, per family, per contest period.
            <br>
            4.
            <a href="#">
              Please read the complete Contest Rules carefully before entering.
            </a>
            <br>
            5. Entry forms that are not completely filled out will be disqualified.
            <br>
            6. All winners will be announced by Friday, July 29, 2016.
            <br>7. Contest opens at 9 a.m. CST and ends at 11:59 p.m. CST.</p>
        </div>
        <div class="contest cta-wrapper duplicate scl-actions sidebar">
          <h4>Share this!</h4>
          <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
          <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
          <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
          <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
          <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
        </div>
        <div class="separator-line"></div>
        <div class="iframe-placeholder valign-parent">
          <h4 class="valign">&lt;iframe entry form&gt;</h4>
        </div>
        <div class="remove-from-public-view">
          <div class="extra-margin separator-line"></div>
          <h4 class="quatinery">Additional options available only to Imperial website admin</h4>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Competition Start date</label>
            </div>
            <div class="_75-pc">
              <select class="w-select" data-name="Company Recipe Author 2" id="Company-Recipe-Author-2" name="Company-Recipe-Author-2"><option value="">Select one&hellip;</option><option value="Chef Eddie">Chef Eddie</option><option value="Blogger - Ali Ebright">Blogger - Ali Ebright</option><option value="Blogger - Alice Choi">Blogger - Alice Choi</option><option value="Blogger - Amy Kritzer">Blogger - Amy Kritzer</option><option value="Blogger - Angie McGowan">Blogger - Angie McGowan</option></select></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Competition End date</label>
            </div>
            <div class="_75-pc">
              <select class="w-select" data-name="Company Recipe Author 3" id="Company-Recipe-Author-3" name="Company-Recipe-Author-3"><option value="">Select one&hellip;</option><option value="Chef Eddie">Chef Eddie</option><option value="Blogger - Ali Ebright">Blogger - Ali Ebright</option><option value="Blogger - Alice Choi">Blogger - Alice Choi</option><option value="Blogger - Amy Kritzer">Blogger - Amy Kritzer</option><option value="Blogger - Angie McGowan">Blogger - Angie McGowan</option></select></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label class="label-w-tooltip" for="Recipe-name">iFrame Code</label>
            </div>
            <div class="_75-pc">
              <input class="form-field-100-pc w-input" data-name="Iframe code" id="Iframe-code" maxlength="256" name="Iframe-code" placeholder="Paste iFrame code here" type="text"></div>
          </div>
          <div class="form-input-wrapper w-clearfix">
            <div class="_25-pc">
              <label for="Recipe-name">Internal notes</label>
            </div>
            <div class="_75-pc">
              <textarea class="form-multi-line-text-heigh w-input" data-name="Internal Notes" id="Internal-Notes-3" maxlength="5000" name="Internal-Notes" placeholder="Notes for company staff. These will not be published."></textarea><p class="body-sm">
                Notes for company staff. These will not be published.
                <a class="txt-link-sm" href="#"></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>