<div class="_25-50-50-100-width _25-pc" data-node="sugar_101" data-view-mode="card">
            <div class="blog-wrapper card separator-line" data-mh="card">
              <div class="art-img-wrapper object-fit">
                <img height="200" src="/themes/imperial/../images/17955_720_Sugar101-DarkVsLight_ISC-01_03.jpg"></div>
              <a class="w-inline-block" href="../blog/blog-article.html">
                <h3 class="art-title">Dark Brown Sugar vs. Light Brown Sugar</h3>
              </a>
            </div>
          </div>