<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="community_view">
    <div class="container">
      <h2 class="secondary txt-centered">Explore community recipes</h2>
      <div class="collection-title-underline"></div>
      <div class="search-refine-results-wrapper">
        <a class="btn btn-refine-search btn-secondary w-button" data-ix="show-refine-results" href="#">Refine</a>
      </div>
      <div class="search-results-wrapper separator-line" data-ix="display-none">
        <div class="w-form">
          <form data-name="Email Form 2">
            <div class="refine-menu-controls-wrapper w-clearfix">
              <a class="btn btn-refine-search btn-refine-search-active btn-secondary w-button" data-ix="hide-refine-results" href="#">Close</a>
              <input class="btn btn-form btn-submit float-right w-button" data-wait="Please wait..." type="submit" value="Update Results"></div>
            <div class="w-clearfix">
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Recipe time</h4>
                  <div class="time-slider-wrapper">
                    <div>Any time</div>
                    <div class="time-slider-bar"></div>
                    <div class="time-slider-button"></div>
                  </div>
                </div>
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Season</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 302" id="checkbox-302" name="checkbox-302" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-302">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 303" id="checkbox-303" name="checkbox-303" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-303">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 304" id="checkbox-304" name="checkbox-304" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-304">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 305" id="checkbox-305" name="checkbox-305" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-305">4th Tag</label>
                  </div>
                </div>
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Course</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 306" id="checkbox-306" name="checkbox-306" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-306">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 307" id="checkbox-307" name="checkbox-307" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-307">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 308" id="checkbox-308" name="checkbox-308" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-308">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 309" id="checkbox-309" name="checkbox-309" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-309">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 310" id="checkbox-310" name="checkbox-310" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-310">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 311" id="checkbox-311" name="checkbox-311" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-311">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 312" id="checkbox-312" name="checkbox-312" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-312">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 313" id="checkbox-313" name="checkbox-313" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-313">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 314" id="checkbox-314" name="checkbox-314" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-314">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Dessert</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 315" id="checkbox-315" name="checkbox-315" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-315">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 316" id="checkbox-316" name="checkbox-316" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-316">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 317" id="checkbox-317" name="checkbox-317" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-317">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 318" id="checkbox-318" name="checkbox-318" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-318">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 319" id="checkbox-319" name="checkbox-319" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-319">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 320" id="checkbox-320" name="checkbox-320" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-320">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 321" id="checkbox-321" name="checkbox-321" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-321">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 322" id="checkbox-322" name="checkbox-322" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-322">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 323" id="checkbox-323" name="checkbox-323" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-323">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 324" id="checkbox-324" name="checkbox-324" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-324">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 325" id="checkbox-325" name="checkbox-325" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-325">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 326" id="checkbox-326" name="checkbox-326" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-326">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 327" id="checkbox-327" name="checkbox-327" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-327">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 328" id="checkbox-328" name="checkbox-328" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-328">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 329" id="checkbox-329" name="checkbox-329" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-329">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 330" id="checkbox-330" name="checkbox-330" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-330">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 331" id="checkbox-331" name="checkbox-331" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-331">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Holidays</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 332" id="checkbox-332" name="checkbox-332" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-332">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 333" id="checkbox-333" name="checkbox-333" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-333">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 334" id="checkbox-334" name="checkbox-334" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-334">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 335" id="checkbox-335" name="checkbox-335" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-335">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 336" id="checkbox-336" name="checkbox-336" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-336">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 337" id="checkbox-337" name="checkbox-337" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-337">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 338" id="checkbox-338" name="checkbox-338" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-338">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 339" id="checkbox-339" name="checkbox-339" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-339">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 340" id="checkbox-340" name="checkbox-340" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-340">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 341" id="checkbox-341" name="checkbox-341" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-341">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 342" id="checkbox-342" name="checkbox-342" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-342">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 343" id="checkbox-343" name="checkbox-343" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-343">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 344" id="checkbox-344" name="checkbox-344" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-344">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 345" id="checkbox-345" name="checkbox-345" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-345">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 346" id="checkbox-346" name="checkbox-346" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-346">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 347" id="checkbox-347" name="checkbox-347" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-347">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 348" id="checkbox-348" name="checkbox-348" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-348">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 349" id="checkbox-349" name="checkbox-349" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-349">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 350" id="checkbox-350" name="checkbox-350" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-350">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 351" id="checkbox-351" name="checkbox-351" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-351">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 352" id="checkbox-352" name="checkbox-352" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-352">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 353" id="checkbox-353" name="checkbox-353" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-353">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Other</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 354" id="checkbox-354" name="checkbox-354" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-354">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 355" id="checkbox-355" name="checkbox-355" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-355">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 356" id="checkbox-356" name="checkbox-356" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-356">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 357" id="checkbox-357" name="checkbox-357" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-357">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 358" id="checkbox-358" name="checkbox-358" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-358">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 359" id="checkbox-359" name="checkbox-359" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-359">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 360" id="checkbox-360" name="checkbox-360" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-360">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 361" id="checkbox-361" name="checkbox-361" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-361">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 362" id="checkbox-362" name="checkbox-362" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-362">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 363" id="checkbox-363" name="checkbox-363" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-363">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 364" id="checkbox-364" name="checkbox-364" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-364">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 365" id="checkbox-365" name="checkbox-365" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-365">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 366" id="checkbox-366" name="checkbox-366" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-366">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 367" id="checkbox-367" name="checkbox-367" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-367">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 368" id="checkbox-368" name="checkbox-368" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-368">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 369" id="checkbox-369" name="checkbox-369" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-369">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 370" id="checkbox-370" name="checkbox-370" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-370">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 371" id="checkbox-371" name="checkbox-371" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-371">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 372" id="checkbox-372" name="checkbox-372" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-372">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 373" id="checkbox-373" name="checkbox-373" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-373">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 374" id="checkbox-374" name="checkbox-374" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-374">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 375" id="checkbox-375" name="checkbox-375" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-375">Tag Two</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
      <div class="w-clearfix">
        <div class="_25-pc">
          <div class="card rcp-wrapper" data-ix="fade-in-on-scroll" data-mh="card">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="card save-icon" data-ix="modal-login-show"></div>
                  <div class="card faved save-icon"></div>
                </div>
              </div>
              <a class="card rcp-title w-inline-block" href="recipes/recipe.html">
                <h4>Easter Lemon Coconut Cream Cake</h4>
              </a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div>
            <div class="object-fit rcp-img-card">
              <img height="330" src="/{{ directory }}/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
          </div>
        </div>
      </div>
      <div class="load-more-wrapper">
        <a class="btn w-button" href="#">Show more</a>
      </div>
    </div>
  </div>

</div>