<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="contest_hero">
    <div class="container separator-line-top-bottom">
      {{ content.contest_hero_hero }}
    </div>
  </div>

</div>