<div {{ attributes }}> {{ title_suffix }}

<div class="sidebar subscribe-wrapper" data-block="r_subcribe">
          <h3>Mmmm , like this recipe?</h3>
          <div class="sidebar subscribe-text">
            Subscribe to our newsletter for exclusive recipes, coupons, and promotions.
          </div>
          <div class="sidebar subscribe-form-position w-form">
            <form class="form-field-shadow subscribe-form-wrapper w-clearfix" data-name="Email Form" name="email-form">
              <input class="subscribe-field w-input" data-ix="search-bar-show" data-name="Subscribe 2" id="Subscribe-2" maxlength="256" name="Subscribe-2" placeholder="Email Address" type="text"><input class="btn subscribe-btn w-button" data-wait="Please wait..." type="submit" value="Subscribe" wait="Please wait..."></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form</div>
            </div>
          </div>
        </div>

</div>