<div {{ attributes }}> {{ title_suffix }}

<div class="cta-wrapper share-rcp" data-block="sweet_com_login">
    <div class="_10col container">
      <a class="user-pic-wrapper w-inline-block" href="user/recipe-box.html">
        <img height="100" src="/{{ directory }}/images/user-pic-example.jpg"></a>
      <h2>Thanks for being a part of our community!</h2>
      <a class="btn w-button" href="community/share-a-recipe.html">Share a recipe!</a>
      <a class="btn btn-alt btn-secondary w-button" href="user/recipe-box.html">Go to your Recipe Box</a>
      <a class="btn w-button" href="user/recipe-box.html">See the coupons</a>
    </div>
  </div>

</div>