<div {{ attributes }}> {{ title_suffix }}

<div class="cta-wrapper follow-social separator-line-top-bottom sidebar w-hidden-medium w-hidden-small w-hidden-tiny" data-block="section_mission">
          <div class="scl-wrapper sidebar">
            <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
            <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
            <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
            <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
            <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
            <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
          </div>
          <h3>
            Connect with us to get exclusive recipes, sweet ideas, and more!
          </h3>
        </div>

</div>