<div {{ attributes }}> {{ title_suffix }}

<div class="bg-secondary default-section" data-block="main_block">
    <div class="container w-clearfix">
      {{ content.main_block_hero }}
      {{ content.main_block_trending }}
    </div>
  </div>

</div>