<div class="w-hidden-tiny" data-menu="footer_menu" data-block-field="footer_menu" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="menu" data-target-bundle="footer_menu">
        <a class="main-nav-link" href="#">Recipes</a>
        <a class="main-nav-link w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Kids in the Kitchen</a>
        <a class="main-nav-link" href="#">Community</a>
        <a class="main-nav-link w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Blog</a>
        <a class="main-nav-link" href="#">Coupons</a>
        <a class="main-nav-link" href="#">Products</a>
        <a class="main-nav-link" href="#">Contact Us</a>
        </div>