<div data-menu="ftr_corporate_menu" data-block-field="ftr_corporate_menu" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id" data-target-type="menu" data-target-bundle="ftr_corporate_menu">
        <a class="ftr-nav-sm main-nav-link" href="#">Imperial Sugar Corporate</a>
        <a class="ftr-nav-sm main-nav-link" href="#">Sitemap</a>
        <a class="ftr-nav-sm main-nav-link" href="#">Terms of Use</a>
        <a class="ftr-nav-sm main-nav-link" href="#">Privacy Policy</a>
        </div>