<div {{ attributes }}> {{ title_suffix }}

<div class="bg-secondary default-section w-section" data-block="home_popular">
    <div class="container w-clearfix">
      {{ content.home_popular_popa_view }}
      <div class="_33-pc rcp-list-col w-clearfix">
        <h2 class="secondary">Trending now</h2>
        {{ content.home_popular_trending }}
        <div class="list rcp-wrapper w-clearfix w-hidden-main w-hidden-small w-hidden-tiny">
          <div class="rcp-list-img w-clearfix"><img class="object-fit rcp-list-img" src="/themes/isvt/images/recipe-list.jpg"></div>
          <div class="activity list">
            <div class="list saves w-clearfix">
              <div class="rcp-list saved-tally">31</div>
              <div class="list save-icon"></div>
            </div>
            <div class="stars"></div>
          </div><a class="list rcp-title w-inline-block" href="#"><h4>Delicious Praline Cinnamon Monkey Bread</h4></a>
          <div class="rcp-list summary">
            <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="#">Chef Eddie Van Damme</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>