<div {{ attributes }}> {{ title_suffix }}

<div class="top-nav w-clearfix" data-block="top_nav" data-unique="unique">
    <div class="nav-account-wrapper w-hidden-small w-hidden-tiny">
      <div class="nav-account-arrow w-dropdown" data-delay="0" data-hover="1">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="user-pic-nav-account user-pic-small user-pic-wrapper"><img height="100%" src="/themes/isvt/images/user-pic-example.jpg" width="100%"></div>
          <div class="nav-account-text">Account</div>
        </div>
        <nav class="mega-menu-wrapper nav-account w-clearfix w-dropdown-list"><div class="mega-menu-column w-clearfix">
            <a class="l2 main-nav-link w-inline-block" href="#"></a><a class="l3 main-nav-link nav-account w-dropdown-link" href="#">My Recipe Box</a><a class="l3 main-nav-link nav-account w-dropdown-link" href="#">Latest Recipes</a><a class="l3 main-nav-link nav-account w-dropdown-link" href="#">Most Popular</a>
          </div>
        </nav></div>
    </div>
    <div class="logged-out nav-account-wrapper w-clearfix w-hidden-small w-hidden-tiny">
      <a class="logged-out user-pic-small user-pic-wrapper w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" href="#"></a><a class="nav-account-signup-spacing tertiary" href="#">Join FREE</a><a class="nav-account-signup-spacing tertiary" href="#">Sign In</a>
    </div>
    <a class="logo-wrapper w-inline-block" href="index.html"><img class="logo" height="80%" src="/themes/isvt/images/Imperial_Brand_Logo.svg" width="80%"><img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isvt/images/DixieCrystals_Color.svg" width="110"></a>
    <div class="search-bar-position w-form" data-ix="search-bar-hide">
      <form class="search-form-wrapper w-clearfix" data-name="Search Form" id="email-form" name="email-form" data-target-type="contact_form" data-form="search_form">
        <input autofocus="autofocus" class="search-field-global w-input" data-ix="search-bar-show" data-name="Search" id="Search" maxlength="256" name="Search" placeholder="Search recipes, ideas, anything&hellip;" type="text" data-form-field="input" data-type="string" data-form-type="string_textfield" data-format-type="string"><input class="search-btn-global w-button" data-wait="Please wait..." type="submit" value="Search" wait="Please wait..."><a class="cancel search-btn-global w-button w-hidden-main w-hidden-medium" data-ix="search-bar-hide" href="#">Cancel</a>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
    <div class="nav-links-wrapper w-clearfix">
      {{ main_menu }}
    </div>
    <div class="nav-bg-image-overlay"></div><img class="object-fit top-nav w-hidden-small w-hidden-tiny" src="/themes/isvt/images/nav-default-bg-img.jpg"></div>

</div>