<div {{ attributes }}> {{ title_suffix }}

<div class="side-nav" data-ix="sticky-scl-actions-display-none" data-block="side_nav" data-unique="unique">
    <a class="side-nav-close-wrapper w-clearfix w-inline-block" data-ix="side-nav-hide" href="#">
      <div class="main-nav-link side-nav-close">Close</div>
        <img height="14" src="/themes/isvt/images/side%20nav%20close%20x.svg" width="14"></a>
    <div class="separator-line"></div>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>Recipes</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">Quick and Easy</a><a class="l3 main-nav-link w-dropdown-link" href="#">Latest Recipes</a><a class="l3 main-nav-link w-dropdown-link" href="#">Most Popular</a><a class="l3 main-nav-link w-dropdown-link" href="#">Vintage Recipes</a><a class="l3 main-nav-link w-dropdown-link" href="#">Gluten Free</a><a class="l3 main-nav-link w-dropdown-link" href="#">Reduced Sugar</a>
      </nav></div>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>Easter</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">Easter Desserts</a><a class="l3 main-nav-link w-dropdown-link" href="#">Easter Crafts &amp; Gifts</a><a class="l3 main-nav-link w-dropdown-link" href="#">Easter for Kids</a><a class="l3 main-nav-link w-dropdown-link" href="#">All Easter Ideas&hellip;</a>
      </nav></div>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>Kids in the Kitchen</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">My First Cookbooks</a><a class="l3 main-nav-link w-dropdown-link" href="#">Cubie &amp; Cubette's Cooking Club</a><a class="l3 main-nav-link w-dropdown-link" href="#">Fun Kids' Projects</a><a class="l3 main-nav-link w-dropdown-link" href="#">Edible Art Projects</a><a class="l3 main-nav-link w-dropdown-link" href="#">Kids Craft Ideas</a><a class="l3 main-nav-link w-dropdown-link" href="#">Sweet Science Projects</a><a class="l3 main-nav-link w-dropdown-link" href="#">Flavored and Colored Sugar</a><a class="l3 main-nav-link w-dropdown-link" href="#">Homemade Candy</a>
      </nav></div>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>Sugar Spa</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">Sugar Scrubs</a><a class="l3 main-nav-link w-dropdown-link" href="#">Bath Products</a><a class="l3 main-nav-link w-dropdown-link" href="#">Sugar Scrub Labels</a>
      </nav></div>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>Community</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">Join the Community</a><a class="l3 main-nav-link w-dropdown-link" href="share-a-recipe.html">Share a Recipe</a><a class="l3 main-nav-link w-dropdown-link" href="#">Community Recipes</a><a class="l3 main-nav-link w-dropdown-link" href="#">Meet Chef Eddy Van Damme</a><a class="l3 main-nav-link w-dropdown-link" href="#">Meet our Bloggers</a>
      </nav></div>
    <a class="main-nav-link side-nav-link w-inline-block" href="#">
      <div>Blog</div>
    </a>
    <a class="main-nav-link side-nav-link w-inline-block" href="#">
      <div>Contests</div>
    </a>
    <a class="main-nav-link side-nav-link w-inline-block" href="#">
      <div>Coupons</div>
    </a>
    <div class="main-nav-link side-nav-link w-clearfix w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div>More</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-clearfix w-dropdown-list"><a class="l3 main-nav-link w-dropdown-link" href="#">Baking Videos</a><a class="l3 main-nav-link w-dropdown-link" href="#">Cooking &amp; Baking Tips</a><a class="l3 main-nav-link w-dropdown-link" href="#">Digital Cookbooks</a><a class="l3 main-nav-link w-dropdown-link" href="#">Sweetalk Newsletter</a>
        <div class="separator-line"></div><a class="l3 main-nav-link w-dropdown-link" href="#">Vintage Imperial</a><a class="l3 main-nav-link w-dropdown-link" href="#">Cane Sugar 101</a><a class="l3 main-nav-link w-dropdown-link" href="#">Imperial Sugar Products</a><a class="l3 main-nav-link w-dropdown-link" href="#">Contact Us</a>
      </nav></div>
    <div class="separator-line"></div>
    <div class="bottom-padding main-nav-link side-nav-link w-dropdown" data-delay="0">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div class="quatinery">Account</div>
      </div>
      <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link quatinery w-dropdown-link" href="#">My Recipe Box</a><a class="l3 main-nav-link quatinery w-dropdown-link" href="#">Edit Profile</a><a class="l3 main-nav-link quatinery w-dropdown-link" href="#">Log Out</a>
      </nav></div>
  </div>

</div>