<div {{ attributes }}> {{ title_suffix }}

<div class="default-section w-section" data-block="lists_blog">
    <div class="container list w-clearfix">
      {{ content.lists_blog_kids_view }}
      {{ content.lists_blog_30under_view }}
      <div class="_100-pc _33-pc">
        <h3 class="quatinery">New on Sweetalk</h3>
        <div class="art-wrapper" data-node="article" data-view-mode="card">
          <div class="art-img-wrapper">
            <img class="art-img object-fit w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isvt/images/blog-article-image.jpg" data-node-field="image" data-type="image" data-form-type="image_image" data-format-type="image"></div>
          <h4 class="art-date" data-node-field="date" data-type="string" data-form-type="string_textfield" data-format-type="string">May 2, 2016</h4>
          <h3 class="art-title" data-node-field="title" data-type="string" data-form-type="string_textfield" data-format-type="string">11 Questions to Ask Your Wedding Cake Baker</h3>
          <p data-node-field="summary" data-type="string_long" data-form-type="string_textarea" data-format-type="basic_string">He asked. You said yes. Now the planning begins. When it comes to a wedding cake, it can be a towering masterpiece &mdash; or a towering disaster. Not all wedding cake bakers are created equal, so knowing what to ask can go a long way towards ensuring the cake that is &hellip;</p>
          <a class="btn btn-text" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>

</div>