<div {{ attributes }}> {{ title_suffix }}

<div class="default-section w-section" data-block="home_special">
    <div class="card-slider container">
      <h3 class="secondary text-centered">Make something special for Easter</h3>
      <div class="card-slider-title-underline"></div>
      {{ content.home_special_special_view }}
    </div>
    <div class="card-slider container">
      <h3 class="secondary text-centered">30 Minutes and Under</h3>
      <div class="card-slider-title-underline"></div>
      {{ content.home_special_under30_view }}
    </div>
  </div>

</div>