<div {{ attributes }}> {{ title_suffix }}

<div class="subscribe-wrapper" data-block="subscribe" data-unique="unique">
    <div class="container global-subscribe">
      <div class="subscribe-text" data-block-field="text">{{ content.subscribe_text }}</div>
      <div class="subscribe-form-position w-form">
        <form class="form-field-shadow subscribe-form-wrapper w-clearfix" data-name="Subscribe Form" id="email-form" name="email-form" data-target-type="contact_form" data-form="subscribe_form">
          <input class="subscribe-field w-input" data-ix="search-bar-show" data-name="Subscribe" id="Subscribe" maxlength="256" name="Subscribe" placeholder="Email Address" type="text" data-form-field="input" data-type="string" data-form-type="string_textfield" data-format-type="string"><input class="btn subscribe-btn w-button" data-wait="Please wait..." type="submit" value="Subscribe" wait="Please wait..."></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>

</div>