<div {{ attributes }}> {{ title_suffix }}

<div class="_66-pc add-cmmt-wrapper bg-secondary w-clearfix" data-block="rate_review">
        <div class="w-clearfix">
          <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
            <img height="100%" src="/themes/isvt/../images/user-pic-example.jpg" width="100%"></a>
          <h3 class="add-cmmt-title">Rate and Review</h3>
          <div class="add-cmmt stars"></div>
        </div>
        <div class="add-cmmt-form-wrapper w-form">
          <form class="w-clearfix" data-name="Email Form 2" id="email-form-2" name="email-form-2">
            <label class="hidden" for="Write-a-review-of-this-recipe">Write a review of this recipe</label>
            <textarea class="form-multi-line-text-heigh w-input" data-name="Write a review of this recipe" id="Write-a-review-of-this-recipe" maxlength="5000" name="Write-a-review-of-this-recipe" placeholder="What did you think of this recipe? Would you make it again?&#8232; Your review and tips helps others get the best out of their baking."></textarea><input class="btn btn-submit-form w-button" data-wait="Please wait..." type="submit" value="Post Review"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>

</div>