<div class="_50-pc" data-node="recipe_comments" data-view-mode="card">
            <div class="card user-cmmt-wrapper" data-ix="fade-in-on-scroll" data-mh="review_card">
              <div class="activity separator-line user-cmmt w-clearfix">
                <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
                  <img height="100%" src="/themes/imperial/../images/user-pic-example.jpg" width="100%"></a>
                <div class="rcp-author rcp-main rcp-summary-data">
                  <a href="../user/recipe-box.html">Kimberley O'Quinn</a>
                </div>
                <div class="stars user-cmmt"></div>
                <div class="body-small date user-cmmt">Feb 21, 2016</div>
              </div>
              <a href="../recipes/recipe.html">Cherry Walnut Snowball Cookies</a>
              <p class="user-cmmt-txt">
                I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;
              </p>
              <a class="show-review-link" data-ix="show-read-comment-modal" href="#">Read more&hellip;</a>
            </div>
          </div>