<div class="_25-33-50-100-width _25-pc" data-node="product" data-view-mode="card">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/themes/imperial/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>