<div class="rcp-wrapper vdo" data-node="recipe" data-view-mode="hero">
            <a class="_wf-lightbox-link-override w-inline-block w-lightbox" href="#">
              <img height="100%" src="/themes/imperial/images/imperial%20buttercream%20halloween%20(5).jpg"><div class="featured-video video-btn-wrapper">
                <img src="/themes/imperial/images/icon-video-play-white.svg"></div>
              <script class="w-json" type="application/json">
                { "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FAPj2ArUy6v4%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAPj2ArUy6v4&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAPj2ArUy6v4%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAPj2ArUy6v4%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=APj2ArUy6v4"
                }] }
              </script></a>
          </div>