<div class="_33-100-100-100-wdth _33-pc valign-parent" data-mh="featured" data-node="baking_videos">
          <div class="valign video-info-wrapper w-clearfix">
            <div class="saves video w-clearfix">
              <div class="saved-tally">4.9K</div>
              <div class="faved hero save-icon video"></div>
              <div class="hero save-icon video" data-ix="modal-login-show"></div>
            </div>
            <h3 class="secondary">Featured video</h3>
            <a class="rcp-title video w-inline-block" href="recipes/recipe.html">
              <h2 data-node-field="title">{{ content.baking_videos_title }}</h2>
            </a>
            <div class="body-lg" data-node-field="description">{{ content.baking_videos_description }}</div>
            <a class="w-inline-block w-lightbox" href="#">
              <div class="btn-alt btn-manual btn-video video">Watch Now</div>
              <script class="w-json" type="application/json">
                { "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FYuJAeunUXmA%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DYuJAeunUXmA&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FYuJAeunUXmA%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FYuJAeunUXmA%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 528,
                  "url": "http://www.youtube.com/watch?v=YuJAeunUXmA"
                }] }
              </script></a>
          </div>
        </div>