<div data-node="sugar_101">
    <div class="modal-bg-overlay" data-ix="modal-bg-initial-appearance">
      <div class="modal-wrapper user-review">
        <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-general-hide" href="#">
          <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
          <img height="14" src="/themes/imperial/../images/side%20nav%20close%20x.svg" width="14"></a>
        <div class="activity separator-line user-cmmt w-clearfix">
          <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
            <img height="100%" src="/themes/imperial/../images/user-pic-example.jpg" width="100%"></a>
          <div class="rcp-author rcp-main rcp-summary-data">
            <a href="../user/recipe-box.html">Kimberley O'Quinn</a>
          </div>
          <div class="stars user-cmmt"></div>
          <div class="body-small date user-cmmt">Feb 21, 2016</div>
        </div>
        <a class="w-inline-block" href="../recipes/recipe.html">
          <h3>Lemon and White Chocolate Cannoli</h3>
        </a>
        <p class="user-cmmt-txt user-review">
          I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;
        </p>
      </div>
    </div>
    <div class="default-section">
      <div class="container separator-line sm sugar-101-header w-hidden-small w-hidden-tiny">
        <a class="btn btn-back w-button" href="#">&larr; Back to Sugar 101</a>
      </div>
      <div class="container w-clearfix">
        <div class="_16-pc sidebar w-hidden-medium w-hidden-small w-hidden-tiny">
          <div class="cta-wrapper follow-social separator-line-top-bottom sidebar">
            <div class="scl-wrapper sidebar">
              <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
              <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
              <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
              <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
              <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
              <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
            </div>
            <h4>
              Connect with us to get exclusive recipes, sweet ideas, and more!
            </h4>
          </div>
          <div class="blog cta-wrapper scl-actions sidebar">
            <h4>RSS</h4>
            <a class="blog btn btn-tertiary rss scl-actions w-button" href="http://www.imperialsugar.com/blog/feed/">Subscribe</a>
          </div>
          <div class="blog cta-wrapper scl-actions sidebar">
            <h4>Tell others about this article!</h4>
            <a class="blog btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
            <a class="blog btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
            <a class="blog btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
            <a class="blog btn btn-tertiary scl-actions w-button" href="#">Email it</a>
            <a class="blog btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
          </div>
        </div>
        <div class="_8col container margin-top-bottom w-clearfix">
          <h1>Cane Sugar vs. Beet Sugar</h1>
          <div class="blog-img">
            {{ content.sugar_101_image }}</div>
          <div class="ck-editor rcp-text-wrapper" data-node-field="description">{{ content.sugar_101_description }}</div>
          <div class="cta-wrapper duplicate scl-actions sidebar">
            <h4>Tell others about this article!</h4>
            <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
            <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
            <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
            <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
            <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
          </div>
        </div>
      </div>
      <div class="container">
        <h3 class="secondary txt-centered">Further reading</h3>
        <div class="collection-title-underline"></div>
        <div class="w-clearfix">
          <div class="_25-50-50-100-width _25-pc" data-node="sugar_101" data-view-mode="card">
            <div class="blog-wrapper card separator-line" data-mh="card">
              <div class="art-img-wrapper object-fit">
                <img height="200" src="/themes/imperial/../images/17955_720_Sugar101-DarkVsLight_ISC-01_03.jpg"></div>
              <a class="w-inline-block" href="../blog/blog-article.html">
                <h3 class="art-title">Dark Brown Sugar vs. Light Brown Sugar</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-wrapper">
      <div class="container global-subscribe">
        <div class="subscribe-text">
          Sign up to our newsletter for exclusive recipes, coupons, and promotions.
        </div>
        <div class="subscribe-form-position w-form">
          <form class="form-field-shadow subscribe-form-wrapper" data-name="Email Form" id="email-form" name="email-form">
            <input class="subscribe-field w-input" data-ix="search-bar-show" data-name="Subscribe" id="Subscribe" maxlength="256" name="Subscribe" placeholder="Email Address" type="text"><input class="btn subscribe-btn w-button" data-wait="Please wait..." type="submit" value="Sign up!" wait="Please wait..."></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
    </div>
    <div class="default-section ftr-section">
      <div class="container ftr-wrapper separator-line w-clearfix">
        <img class="ftr-logo" src="/themes/imperial/../images/Imperial_Brand_Logo.svg"><div class="ftr-nav-wrapper">
          <div>
            <a class="ftr-nav-sm main-nav-link-bg-highlight" href="http://www.imperialsugarcompany.com" target="_blank">Imperial Sugar Corporate</a>
            <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../sitemap.html">Sitemap</a>
            <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../terms-of-use.html">Terms of Use</a>
            <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="w-hidden-tiny">
            <a class="main-nav-link-bg-highlight" href="#">Recipes</a>
            <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Kids in the Kitchen</a>
            <a class="main-nav-link-bg-highlight" href="#">Community</a>
            <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Blog</a>
            <a class="main-nav-link-bg-highlight" href="#">Coupons</a>
            <a class="main-nav-link-bg-highlight" href="#">Products</a>
            <a class="main-nav-link-bg-highlight" href="#">Contact Us</a>
          </div>
        </div>
        <img class="ftr-products w-hidden-small w-hidden-tiny" src="/themes/imperial/../images/ftr-products.png"></div>
      <div class="container ftr-wrapper">
        <div class="scl-ftr scl-wrapper">
          <a class="_30px scl w-inline-block" href="https://www.facebook.com/imperialsugar"></a>
          <a class="_30px pn scl w-inline-block" href="https://www.pinterest.com/imperialsugar/" target="_blank"></a>
          <a class="_30px scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
          <a class="_30px gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
          <a class="_30px in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
          <a class="_30px scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
        </div>
        <div class="ftr-copyright">
          &copy; 2012&ndash;2016 Imperial Sugar. All rights reserved. All Imperial Sugar branded products are the registered marks of the Imperial Sugar Company.
        </div>
      </div>
    </div>
  </div>