{#
/**
 * @file
 * Template for Two Column Layout.
 *
 * Variables:
 * module - module name
 */
#}
<div class="isvm two-column">
  <div class="first-column">
    {{ content.column1 }}
  </div>
  <div class="second-column">
    {{ content.column2 }}
  </div>
</div>