<div class="default-section w-section" data-view="recipe_result" data-filter-type="node" data-filter-bundle="recipe">
    <div class="container">
      <h2 class="text-centered">354 Results for Cookies</h2>
      <div class="separator-line tab-menu-wrapper">
        <div class="tab-wrapper text-centered">
          <h3 class="quatinery">217</h3>
          <div class="quatinery">Recipes</div>
        </div>
        <div class="greyed-out tab-wrapper text-centered">
          <h3>87</h3>
          <div>Kids Crafts</div>
        </div>
        <div class="greyed-out tab-wrapper text-centered">
          <h3>0</h3>
          <div>Videos</div>
        </div>
        <div class="greyed-out tab-wrapper text-centered">
          <h3>8</h3>
          <div>Blog Articles</div>
        </div>
        <div class="greyed-out tab-wrapper text-centered">
          <h3>42</h3>
          <div>Other</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="search-refine-results-wrapper"><a class="btn btn-refine-search btn-secondary w-button" data-ix="show-refine-results" href="#">Refine</a>
      </div>
      <div class="search-results-wrapper separator-line" data-ix="display-none">
        <div class="w-form">
          <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
            <div class="w-clearfix"><a class="btn btn-refine-search btn-refine-search-active btn-secondary w-button" data-ix="hide-refine-results" href="#">Close</a>
              <input class="btn btn-form btn-submit float-right w-button" data-wait="Please wait..." type="submit" value="Update Results"></div>
            <div class="w-clearfix">
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Recipe time</h4>
                  <div class="time-slider-wrapper">
                    <div>Any time</div>
                    <div class="time-slider-bar"></div>
                    <div class="time-slider-button"></div>
                  </div>
                </div>
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Season</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 211" id="checkbox-211" name="checkbox-211" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-211">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 212" id="checkbox-212" name="checkbox-212" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-212">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 213" id="checkbox-213" name="checkbox-213" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-213">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 214" id="checkbox-214" name="checkbox-214" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-214">4th Tag</label>
                  </div>
                </div>
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Course</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 293" id="checkbox-293" name="checkbox-293" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-293">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 294" id="checkbox-294" name="checkbox-294" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-294">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 295" id="checkbox-295" name="checkbox-295" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-295">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 296" id="checkbox-296" name="checkbox-296" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-296">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 297" id="checkbox-297" name="checkbox-297" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-297">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 298" id="checkbox-298" name="checkbox-298" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-298">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 299" id="checkbox-299" name="checkbox-299" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-299">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 300" id="checkbox-300" name="checkbox-300" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-300">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 301" id="checkbox-301" name="checkbox-301" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-301">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Dessert</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 215" id="checkbox-215" name="checkbox-215" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-215">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 216" id="checkbox-216" name="checkbox-216" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-216">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 217" id="checkbox-217" name="checkbox-217" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-217">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 218" id="checkbox-218" name="checkbox-218" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-218">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 219" id="checkbox-219" name="checkbox-219" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-219">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 220" id="checkbox-220" name="checkbox-220" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-220">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 221" id="checkbox-221" name="checkbox-221" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-221">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 222" id="checkbox-222" name="checkbox-222" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-222">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 223" id="checkbox-223" name="checkbox-223" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-223">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 224" id="checkbox-224" name="checkbox-224" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-224">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 225" id="checkbox-225" name="checkbox-225" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-225">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 226" id="checkbox-226" name="checkbox-226" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-226">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 227" id="checkbox-227" name="checkbox-227" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-227">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 228" id="checkbox-228" name="checkbox-228" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-228">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 229" id="checkbox-229" name="checkbox-229" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-229">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 230" id="checkbox-230" name="checkbox-230" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-230">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 231" id="checkbox-231" name="checkbox-231" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-231">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Holidays</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 271" id="checkbox-271" name="checkbox-271" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-271">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 272" id="checkbox-272" name="checkbox-272" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-272">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 273" id="checkbox-273" name="checkbox-273" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-273">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 274" id="checkbox-274" name="checkbox-274" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-274">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 275" id="checkbox-275" name="checkbox-275" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-275">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 276" id="checkbox-276" name="checkbox-276" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-276">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 277" id="checkbox-277" name="checkbox-277" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-277">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 278" id="checkbox-278" name="checkbox-278" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-278">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 279" id="checkbox-279" name="checkbox-279" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-279">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 280" id="checkbox-280" name="checkbox-280" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-280">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 281" id="checkbox-281" name="checkbox-281" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-281">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 282" id="checkbox-282" name="checkbox-282" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-282">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 283" id="checkbox-283" name="checkbox-283" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-283">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 284" id="checkbox-284" name="checkbox-284" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-284">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 285" id="checkbox-285" name="checkbox-285" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-285">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 286" id="checkbox-286" name="checkbox-286" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-286">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 287" id="checkbox-287" name="checkbox-287" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-287">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 288" id="checkbox-288" name="checkbox-288" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-288">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 289" id="checkbox-289" name="checkbox-289" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-289">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 290" id="checkbox-290" name="checkbox-290" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-290">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 291" id="checkbox-291" name="checkbox-291" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-291">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 292" id="checkbox-292" name="checkbox-292" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-292">Tag Two</label>
                  </div>
                </div>
              </div>
              <div class="_25-pc">
                <div class="separator-line"></div>
                <div class="form-input-wrapper">
                  <h4>Other</h4>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 249" id="checkbox-249" name="checkbox-249" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-249">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 250" id="checkbox-250" name="checkbox-250" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-250">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 251" id="checkbox-251" name="checkbox-251" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-251">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 252" id="checkbox-252" name="checkbox-252" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-252">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 253" id="checkbox-253" name="checkbox-253" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-253">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 254" id="checkbox-254" name="checkbox-254" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-254">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 255" id="checkbox-255" name="checkbox-255" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-255">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 256" id="checkbox-256" name="checkbox-256" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-256">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 257" id="checkbox-257" name="checkbox-257" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-257">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 258" id="checkbox-258" name="checkbox-258" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-258">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 259" id="checkbox-259" name="checkbox-259" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-259">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 260" id="checkbox-260" name="checkbox-260" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-260">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 261" id="checkbox-261" name="checkbox-261" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-261">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 262" id="checkbox-262" name="checkbox-262" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-262">Tag 1</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 263" id="checkbox-263" name="checkbox-263" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-263">Tag Seven</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 264" id="checkbox-264" name="checkbox-264" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-264">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 265" id="checkbox-265" name="checkbox-265" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-265">Tag Two</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 266" id="checkbox-266" name="checkbox-266" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-266">Tag Number Six</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 267" id="checkbox-267" name="checkbox-267" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-267">Tag no. 5</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 268" id="checkbox-268" name="checkbox-268" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-268">4th Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 269" id="checkbox-269" name="checkbox-269" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-269">Third Tag</label>
                  </div>
                  <div class="clickable-tag-wrapper w-checkbox w-clearfix">
                    <input class="display-none w-checkbox-input" data-name="Checkbox 270" id="checkbox-270" name="checkbox-270" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-270">Tag Two</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="w-clearfix">
        <div class="_25-pc" data-node="recipe" data-view-mode="card">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
      </div>
      <div class="w-clearfix">
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
      </div>
      <div class="w-clearfix">
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
      </div>
      <div class="w-clearfix">
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
      </div>
      <div class="w-clearfix">
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
        <div class="_25-pc">
          <div class="card rcp-wrapper">
            <div class="card rcp-info-wrapper">
              <div class="activity rcp-hero w-clearfix">
                <div class="rcp-rating">
                  <div class="stars"></div>
                </div>
                <div class="saves w-clearfix">
                  <div class="saved-tally">31</div>
                  <div class="hero save-icon"></div>
                </div>
              </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html"><h4>Easter Lemon Coconut Cream Cake</h4></a>
              <div class="summary">
                <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
              </div>
            </div><img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
        </div>
      </div>
      <div class="load-more-wrapper"><a class="btn w-button" href="#">Show more</a>
      </div>
    </div>
  </div>