<div class="base-slider card w-slider" data-animation="slide" data-duration="200" data-infinite="1" data-view="special" data-filter-type="node" data-filter-bundle="recipe" data-block-field="special_view" data-target-type="view" data-target-bundle="special" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id">
        <div class="w-clearfix w-slider-mask">
          <div class="_25-pc w-slide">
            <div class="card rcp-wrapper" data-node="recipe" data-view-mode="easter">
              <div class="card rcp-info-wrapper">
                <div class="activity w-clearfix">
                  <div class="rcp-rating">
                    <div class="stars" data-node-field="rating" data-type="string" data-form-type="string_textfield" data-format-type="string"></div>
                  </div>
                  <div class="saves w-clearfix">
                    <div class="saved-tally">168</div>
                    <div class="hero save-icon"></div>
                  </div>
                </div>
                <div class="summary">
                  <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                  <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                </div>
                <a class="card rcp-title w-inline-block" href="recipes/recipe.html">
                <h4 data-node-field="title" data-type="string" data-form-type="string_textfield" data-format-type="string">Easter Egg Cake with Spun Sugar Nest</h4></a>
              </div>
              <div class="card video-btn-wrapper">
                <a class="w-inline-block" href="#">
                  <img src="/themes/isvt/images/icon-video-play-white.svg" data-node-field="vid_icon" data-type="image" data-form-type="image_image" data-format-type="image"></a>
              </div>
              <img class="object-fit rcp-card-img" src="/themes/isvt/images/Easter-Egg-Cake-Spun-Sugar-Nest.jpg" data-node-field="image" data-type="image" data-form-type="image_image" data-format-type="image"></div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav"></div>
      </div>