<div class="_33-pc rcp-list-col w-clearfix" data-view="30under" data-filter-type="node" data-filter-bundle="recipe" data-block-field="30under_view" data-target-type="view" data-target-bundle="30under" data-type="entity_reference" data-form-type="entity_reference_autocomplete" data-format-type="entity_reference_entity_id">
        <h3 class="quatinery">30 Mins and under</h3>
        <div class="list rcp-wrapper w-clearfix" data-node="recipe" data-view-mode="kids">
          <div class="rcp-list-img w-clearfix">
            <img class="object-fit rcp-list-img" src="/themes/isvt/images/recipe-list.jpg" data-node-field="image" data-type="image" data-form-type="image_image" data-format-type="image"></div>
          <div class="activity list w-clearfix">
            <div class="list saves w-clearfix">
              <div class="list save-icon"></div>
              <div class="rcp-list saved-tally">31</div>
            </div>
            <div class="stars" data-node-field="rating" data-type="string" data-form-type="string_textfield" data-format-type="string"></div>
          </div>
          <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
            <h4 data-node-field="title" data-type="string" data-form-type="string_textfield" data-format-type="string">Delicious Praline Cinnamon Monkey Bread</h4></a>
          <div class="rcp-list summary">
            <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="#" data-node-field="chef" data-type="link" data-form-type="link_default" data-format-type="link">Chef Eddie Van Damme</a>
            </div>
          </div>
        </div>
        <div class="list rcp-wrapper w-clearfix" data-node="recipe" data-view-mode="kids">
          <div class="rcp-list-img w-clearfix"><img class="object-fit rcp-list-img" src="/themes/isvt/images/Watermelon-Sorbet-web.jpg" data-node-field="image" data-type="image" data-form-type="image_image" data-format-type="image"></div>
          <div class="list video-btn-wrapper">
            <a class="w-inline-block" href="#"><img src="/themes/isvt/images/icon-video-play-white-sm.svg" data-node-field="vid_icon" data-type="image" data-form-type="image_image" data-format-type="image"></a>
          </div>
          <div class="activity list w-clearfix">
            <div class="list saves w-clearfix">
              <div class="list save-icon"></div>
              <div class="rcp-list saved-tally">432</div>
            </div>
            <div class="stars" data-node-field="rating" data-type="string" data-form-type="string_textfield" data-format-type="string"></div>
          </div><a class="list rcp-title w-inline-block" href="recipes/recipe.html">
          <h4 data-node-field="title" data-type="string" data-form-type="string_textfield" data-format-type="string">Watermelon Sorbet</h4></a>
          <div class="rcp-list summary">
            <div class="dynamic-data rcp-summary-data">By: 
              <a class="txt-link-sm" href="#" data-node-field="chef" data-type="link" data-form-type="link_default" data-format-type="link">Chef Eddie Van Damme</a>
            </div>
          </div>
        </div>
      </div>